<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="AppStdMapper">
  
  	<resultMap id="app" type="app">
		<result property="voca" 		column="voca"		/>	
		<result property="vType" 		column="v_type"		/>
		<result property="vSubst" 		column="v_subst"	/>
		<result property="vEng" 		column="v_eng"		/>
		<result property="vEngShort" 	column="v_eng_short"/>
		<result property="vDef" 		column="v_def"		/>
		<result property="vSource" 		column="v_source"	/>
		<result property="vAppDt" 		column="v_app_dt"	/>
  	</resultMap>


	<select id="adminLogin" parameterType="app" resultType="java.lang.String">

	

	</select>
	
	<insert id="saveNewVoca" parameterType="app">
		/*AppStdDao_saveNewVoca*/
		INSERT INTO APP_STD_VOCA
		VALUES
		(
			#{voca}
		   ,#{vType}
		   ,#{vSubst}
		   ,#{vEng}
		   ,#{vEngShort}
		   ,#{vDef}
		   ,#{vSource}
		   ,NOW()
		)
	</insert>



  </mapper>