<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="AppStdMapper">
  
  	<resultMap id="appVoca" type="appVoca">
		<result property="voca" 		column="voca"		/>	
		<result property="vType" 		column="v_type"		/>
		<result property="vSubst" 		column="v_subst"	/>
		<result property="vEng" 		column="v_eng"		/>
		<result property="vEngShort" 	column="v_eng_short"/>
		<result property="vDef" 		column="v_def"		/>
		<result property="vSource" 		column="v_source"	/>
		<result property="vAppDt" 		column="v_app_dt"	/>
		<result property="vAppStts" 	column="v_app_stts"	/>
  	</resultMap>


	<select id="adminLogin" parameterType="appVoca" resultType="java.lang.String">

	

	</select>
	
	<insert id="saveNewVoca" parameterType="appVoca">
		/*AppStdDao_saveNewVoca*/
		INSERT INTO APP_STD_VOCA
		VALUES
		(
			#{voca}
		   ,#{vType}
		   ,#{vSubst}
		   ,#{vEng}
		   ,#{vEngShort}
		   ,#{vDef}
		   ,#{vSource}
		   ,NOW()
		   ,#{vAppStts}
		)
	</insert>

	<select id="chkRegVoca" parameterType="java.lang.String" resultType="java.lang.Integer">
		/*AppStdDao_chkRegVoca*/
		SELECT COUNT(*)
		  FROM APP_STD_VOCA
		 WHERE 1=1
		   AND "VOCA" = #{voca}
	</select>
	
	<select id="chkRegDomain" parameterType="java.lang.String" resultType="java.lang.Integer">
		/*AppStdDao_chkRegDomain*/
		SELECT COUNT(*)
		  FROM APP_STD_DOMAIN
		 WHERE 1=1
		   AND "DOMAIN" = #{domain}
	</select>

	<insert id="saveNewDomain" parameterType="appDomain">
		/*AppStdDao_saveNewDomain*/
		INSERT INTO APP_STD_DOMAIN
		VALUES
		(
			#{domain}
		   ,#{dgName}
		   ,#{iName}
		   ,#{dType}
		   ,#{dLength}
		   ,#{dDef}
		   ,#{dAppStts}
		   ,NOW()
		)
	</insert>

  </mapper>